{{ partial "header.html" . }}

<div class="flex justify-center">

  <div class="page">
    <h1>{{ .Title }}</h1>


    {{ .Content }}


    <ul class="flex-col justify-start">
      {{ range.Data.Pages }}
      <a href="{{ .RelPermalink }}">
        <div class="flex justify-start py-3 h-32 bg-gray-300 rounded-xl m-2 p-2">

          <img src="/main_files/{{.Params.image}}" width="100" class="rounded-md" />
          <div class="flex-col w-full h-full text-center px-2 md:px-3">
            <h3 class="w-full  text-xl h-1/4">{{ .Title }}</h3>
            <p class="text-clip h-3/4 overflow-hidden">
              {{ substr .Summary 0 250 | safeHTML}}
            </p>
          </div>
        </div>
      </a>

      {{ end }}
    </ul>
  </div>
</div>

{{ partial "footer.html" . }}