<!-- Navigation -->
<nav class="bg-gray-700 sticky top-0 z-50">

  {{ $currentPage := . }}
  <div class="flex justify-between">
    <div class="router-link-default dropdown">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" height="50" class="d-inline-block align-top" alt="{{ .Site.Title }}">
      </a>
    </div>
    {{ range.Site.Sections }}
    <div class="router-link-default dropdown">
      <a class="nav-link" href="{{.URL}}">

        <span>{{ .Name }}</span>
      </a>
      {{/* <div class="block">
        {{ range.Data.Pages }}
        <a href="{{ .RelPermalink }}" class="mx-3 text-reset text-center stretched-link">{{ .Title }}</a>
        {{ end }}
      </div> */}}
    </div>
    {{end}}
  </div>
  </div>
</nav>