<div class="container">
  <form
    action="https://cytodata.us12.list-manage.com/subscribe/post?u=e41cec279afba75410ddd90bf&amp;id=d512c96d35"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  >
    <div class="col-sm-12">
      <label for="mce-EMAIL" class="fs-4"
        >Subscribe to the CytoData mailing list</label
      >
    </div>
    <div class="row">
    <div class="col-sm-10 p-0">
      <input
        type="email"
        value=""
        name="EMAIL"
        class="form-control email"
        id="mce-EMAIL"
        placeholder="email address"
        required
      />
    </div>
    <div class="col-sm-2 p-0">
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </div>
  </div>
  </form>
  <br/>
</div>
